[submodule "Client/pc_renderer_unity"]
	path = Client/pc_renderer_unity
	url = git@github.com:mcabla/Multi-path-XR-Client.git
[submodule "Proxy/Relay/moq-rs"]
	path = Proxy/Relay/moq-rs
	url = https://github.com/mcabla/moq-rs
