**/*.log
**/*.metrics
**/.env
**/.venv/

**/*.pyc
**/*.pyo
**/__pycache__/
**/.ipynb_checkpoints

**/node_modules/

**/.vscode/
**/.idea/

**/.cmake/
**/cmake-build-debug/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile

**/.ninja_log
**/.ninja_deps
**/build.ninja

**/*.fdt
**/test.*
test.*

target/**/*

Datasets/**/**/

Libraries/Draco/output/build/**/*

Controller/metrics/grafana_data/**/*
Controller/metrics/prometheus_data/targets.json
Libraries/Draco/output/*detect_compiler_family.c
Controller/metrics/measurements/**/*
Server/dist/exports/**/*
